*, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;


    background-color: rgb(231, 236, 240);
}

.card {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 45px 21px 68px -19px rgba(239,242,247,1);
    -moz-box-shadow: 45px 21px 68px -19px rgba(239,242,247,1);
    box-shadow: 45px 21px 68px -19px rgba(239,242,247,1);
}

h1 {
    margin-bottom: 32px;
}

h4 {
    margin-bottom: 10px;
}

input[type="date"] {
    padding: 3px 6px;
    margin: 10px;
    width: 180px;
    box-sizing: border-box;
}

.btn {
    cursor: pointer;
    padding: 6px 10px;
    width: 180px;
    box-sizing: border-box;
    border: 0;
    background-color: rgb(24, 93, 221);
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: rgb(41, 111, 239);
}