body, * {
    background-color: bisque;
}

.animal {
    color: blue;
    height: 500px;
}
ul {
    color: brown;
}

#inputs {
    border: 1px solid green;
    width: 300px;
    height: 500px;

}

input {
    margin: 10px 5px 70px 200px;
    padding: 10px;
}

.red {
    width: 400px;
    height: 400px;
    background-color:  red;
    padding: 50px;
    box-sizing: border-box;
    margin: 50px;
    border: 2px solid blue;

}

.white {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 40px;
    border: 4px dashed blue;

}

.container {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 100px;
    border: 1px solid blue;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.block {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid blue;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
