*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

a {
    all: initial;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    a {
        font-size: large;
        font-weight: bold;
        cursor: pointer;
    }

    a:hover {
        color: rgba(0, 0, 0, 0.5);
    }
}

main {
    flex-grow: 1;
    min-height: 100vh;
    margin-bottom: 10vh;
}

.banner {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-position: center top;
        object-fit: contain;
    }

    span {
        position: absolute;
        font-size: 90px;
        font-weight: bold;
        color: white;
        z-index: 2;
    }

    .img-overlay {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.grid {
    height: 40vh;
    padding: 40px 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    grid-auto-rows: minmax(100px, auto);
}

.card {
    width: 450px;
    min-height: 20vh;
    max-height: 700px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    cursor: pointer;

    .info {
        max-width: 300px;

        h2 {
            margin-bottom: 10px;

        }


    }


    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.card:hover {
    transform: translate(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

}

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: 900;
    background-color: black;
    color: white;
}


@media only screen and (max-width: 440px) {
    nav {
        gap: 5%;
        height: 40px;

        a {
            font-size: medium;
        }


    }

    main {
        height: 150vh;
        margin-bottom: 20px;
    }

    .banner {
        height: 30vh;

        span {
            font-size: 45px;
        }


    }

    .grid {
        display: flex;
        flex-direction: column;
        padding: 5px;
        align-items: center;
        margin-top: 20px;

    }

    .card {
        width: 300px;
        border: 1px solid rgb(251, 249, 249);
        padding: 20px;

        .info {
            max-width: 230px;
        }

        img {
            width: 60px;
            height: 60px;
        }
    }

    footer {
        height: 20vh;
        font-size: 30px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 780px) {
    nav {
        gap: 5%;
        height: 40px;

        a {
            font-size: medium;
        }


    }

    main {
        height: 150vh;
        margin-bottom: 20px;
    }

    .banner {
        height: 30vh;

        span {
            font-size: 45px;
        }


    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-auto-rows: minmax(100px, auto);
        padding: 5px;
        align-items: center;
        margin-top: 20px;

    }

    .card {
        width: 300px;
        border: 1px solid rgb(251, 249, 249);
        padding: 20px;

        .info {
            max-width: 230px;
        }

        img {
            width: 60px;
            height: 60px;
        }
    }

    footer {
        height: 20vh;
        font-size: 30px;
    }
}
